/node_modules
/public/hot
/public/js/app.js
/public/js/login-component.bundle.js
/public/js/register-component.bundle.js
/public/js/attendance-component.bundle.js
/public/css/app.css
/public/js/*.bundle.js
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
skooleeo.code-workspace
public/docs/*
public/api_docs/*
public/oas_mobile_app_api.yml
make_backup/*
public/js/learning_center.js
public/js/library_assets.js
public/js/clinic.js
public/js/school_clinic.js
public/js/parent_clinic.js
public/js/teacher_clinic.js
public/js/library_assets.js
public/js/cbt.js
docs/microservices/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
api/playground.http
coverage.xml
public/js/learning_center_admin.js
public/js/school_analytics.js
public/js/admin_analytics.js
public/mix-manifest.json
public/js/school_analytics.js~development
public/mix-manifest.json~development
public/js/library_assets.js~development
public/js/cbt.js~development
public/js/practice_questions.js
/public/js/skooleeoclassroom.js~development
public/js/skooleeoclassroom.js
public/js/government_school.js
public/js/flash_cards.js
.idea/workspace.xml
.idea
